<header class="header">
      <h1>Sistema Alunos Proway</h1>
</header>

<main>

  <div class="button">
    <button (click)="alterarExibicao()">Mostrar {{exibicao == "cards" ? 'lista' : 'cards'}}</button>
    <button (click)="mostrarAprovados()">Mostrar alunos aprovados</button>
  </div>

  <section class="cards" *ngIf="exibicao == 'aprovados'">
      <app-aluno *ngFor="let aluno of aprovados" [aluno]="aluno"></app-aluno>
  </section>

<section class="lista" *ngIf="exibicao  == 'lista'">
     <app-aluno-lista [lista]="listaAluno"></app-aluno-lista>
</section>

 <section class="cards" *ngIf="exibicao == 'cards'">
    <app-aluno *ngFor="let aluno of listaAluno" [aluno]="aluno"></app-aluno>
</section>


</main>

<footer class="footer">
    <p>Desenvolvido por <a href="https://github.com/fmartins2106">Fernando Martins</a></p>
</footer>
