<header class="header">
      <h1>Sistema Alunos Proway</h1>
</header>
<main>
 <!--  <section class="cards">
    <app-aluno [aluno]="listaAluno[0]"></app-aluno>
    <app-aluno [aluno]="listaAluno[1]"></app-aluno>
    <app-aluno [aluno]="listaAluno[2]"></app-aluno>
  </section> -->
<section class="cards" *ngIf="exibicao == 'cards'">
    <app-aluno *ngFor="let aluno of listaAluno" [aluno]="aluno"></app-aluno>
  </section>

<section class="lista" *ngIf="exibicao  == 'lista'">
     <app-aluno-lista [lista]="listaAluno"></app-aluno-lista> 
</section>

  
</main>

<footer class="footer">
    <p>Desenvolvido por <a href="https://github.com/fmartins2106">Fernando Martins</a></p>
</footer>